

*{
    
    margin: 0;
    padding: 0;
    
}

.content{
    
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: auto;
    background-color: #ED3237;
    
}

#contaCaracteresEBotoesSub{
    
    margin-top: 170px;
    
}
