

.body-pags{
    
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    width: 800px;
    height: auto;
    background-color: #ED3237;
    font-family: sans-serif, monospace, serif;
    color: #FFF;

}

